# IF , ELSE.... FOR LOOP

> print this is hour in current minute is odd

In [1]:
num = int(input("Enter a current minute:"))
if num%2==0:
    print("the current minute is even")
else:
    print("Given current minute is odd")

Enter a current minute:45
Given current minute is odd


> if today is satarday then print 'Party !!!' or if sunday print take rest other wise print work , work, work

In [29]:
today=input('Enter today:')
if today=='saturday':
    print('Party!!!')
elif today=='sunday':
    print('Take rest')
else:
    print('work,work,work')
today

Enter today:
work,work,work

''

> Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [14]:
#CODE HERE
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i,end=', ')

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

> Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [15]:
#CODE HERE
f = int(input("Enter a number:"))
fact = 1
while f>0:
  fact *= f
  f-=1
print('factorial is:',fact)

Enter a number:8
factorial is: 40320

> With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

*Hint* : use dict()

In [16]:
d={}
for i in range(1,9):
    d[i]=i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

> create user defined fuction for 
- addition "add"
- subtraction "sub"
- multiplication "mul"
- division "div"
- power "pow"

In [17]:
a=int(input('enter a value:'))
b=int(input('enter a value:'))
c=input('enter a keyword:')
if c=='add':
    print(a+b)
elif c=='sub':
    print(a-b)
elif c=='mul':
    print(a*b)
elif c=='div':
    print(a/b)
elif c=='pow':
    print(a**b)
else:
    pass

enter a value:2
enter a value:3
enter a keyword:mul
6

### Write a Python program that accepts a string and calculate the number of digits and letters.
- Input

    - Hello321Bye360
- Output

    - Digit - 6

    - Letter - 8

In [18]:
# CODE HERE
word = input("ENter the text: ")
digit=0
alpha=0
for i in word:
    if i.isdigit():
        digit=digit+1
    elif i.isalpha():
        alpha=alpha+1
    else:
        pass
print('digit-',digit)
print('letter-',alpha)

ENter the text: Hello321Bye360
digit- 6
letter- 8

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [20]:
#method -1
t=(1,2,3,4,5,6,7,8,9,10)
a=" "
b=" "
for i in t:
    if i<=5:
        a=a+" "+str(i)
    elif i>=5:
        b=b+" "+str(i)
    else:
        pass
print(a)
print(b)

  1 2 3 4 5
  6 7 8 9 10

In [21]:
# METHOD - 2
t=(1,2,3,4,5,6,7,8,9,10)
l1=[]
l2=[]
for i in t:
    if i<=5:
        l1.append(i)
    elif i>=5:
        l2.append(i)
print(tuple(l1),tuple(l2))

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [22]:
# METHOD - 3
t=(1,2,3,4,5,6,7,8,9,10)
l1=[]
l2=[]
for i in t:
    if i<=5:
        l1.append(i)
    elif i>=5:
        l2.append(i)
print(l1)
print(l2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [23]:
t=(1,2,3,4,5,6,7,8,9,10)
l=[]
for i in t:
    if i%2==0:
        a=i
        l.append(a)
l
tuple(l)

(2, 4, 6, 8, 10)

### Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No"

In [30]:
#method 1
text = input("Please type something: ")
if text=='yes':
    print('Yes')
elif text=='YES':
    print('Yes')
elif text=='Yes':
    print('Yes')
else:
    print('No')

Please type something: No
No

### Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [31]:
import random
s=random.sample(range(100,201),5)
s

[187, 167, 176, 185, 173]

### Please generate a random float where the value is between 5 and 95 using Python module.

In [32]:
import random
f=random.uniform(5,95)
f

53.9489368320247

### [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
#### 1. from the above list print the uniques values
#### 2. count how many times each number exist
#### 3. Print the number which is occured more number of times

In [33]:
# 1
l=[1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
s=set(l)
s

{1, 3, 4, 5, 6, 7, 8}

In [35]:
# 2
l=[1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
s=set(l)
s
for i in s:
    print(i,l.count(i))

1 4
3 2
4 3
5 1
6 1
7 1
8 3

In [34]:
def frequent(list):
    return max(set(list),key=list.count)

list=[1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
print(frequent(list))

1

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)